body {
    background-color:#026E3A;
    margin:0pt;
}

.logo {
    margin-left:10px;
    margin-top:10px;
}

#header {
    background-color:#8CC53E;
    height:100px;
    margin-bottom:0pt;
    margin-left:0em;
    top:0px;
    vertical-align: middle;
    margin-bottom: 1em;
    
}

#header h1 {
    margin-bottom: 0px;
    text-align: center;
    line-height: 3em;
}

#header-links {
    text-align: right;
    line-height: 3em;
}


.container {
  background-color: white;
}


#main {
    min-height: 400px;
}


#footer {
    text-align: center;
}

pre {
    border: 1px solid black;
    overflow: auto;
    padding: 1em;
    background: #ffe;
    font-family:monospace;    
}

table.greentable {
    border-spacing: 1pt;
}

.greentable td {
    border: 2pt solid green;
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}

p.note {
    background-image:url(../images/note.png);
    min-height:24px;
    background-position:10px 0.2em;
    background-repeat:no-repeat;
    border:1px solid gray;
    margin:1.5em;
    padding:0.2em 0.2em 0.2em 40px;
}

/* Give input elements without @type attribute a nice gray border - see http://blueprintcss.lighthouseapp.com/projects/15318-blueprint-css/tickets/137-input-without-type-attribute-has-different-style-than-input-with-typetext#ticket-137-2 */
input:not([type]) {background-color:#fff;border:1px solid #bbb;}
input:not([type]):focus {border-color:#666;}
input:not([type]) {margin:0.5em 0;}

/* validation */
input.invalid, select.invalid, textarea.invalid {
    background-color: #ffd5d5;
    color: red;
    border: 1px solid red;
}
input.valid, select.valid, textarea.valid {
	background-color: #ffffff;
    border: 1px solid #009900;
}
* [kauri-role=messages] {
  color:red;
} 
