<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>Tokenizer-UI</display-name>
    <!-- 
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:META-INF/tokenizer-executor-context.xml
        </param-value>
    </context-param>
     -->
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.tokenizer.ui.demo.guice.DemoGuiceServletInjector</listener-class>
    </listener>
    <!-- 
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
     -->
    <servlet>
        <servlet-name>V7 Application</servlet-name>
        <servlet-class>org.tokenizer.ui.base.guice.BaseServlet</servlet-class>
        <init-param>
            <description>something dummy; ignore</description>
            <param-name>UI</param-name>
            <param-value>com.dummy.MyUI</param-value>
        </init-param>
        <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>org.tokenizer.ui.MyWidgetSet</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>VaadinServlet</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin UI to display</description>
            <param-name>UI</param-name>
            <param-value>org.tokenizer.ui.MyVaadinUI</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>org.tokenizer.ui.MyWidgetSet</param-value>
        </init-param>
    </servlet>
    
<!--
    <servlet-mapping>
        <servlet-name>VaadinServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
 -->
    <servlet-mapping>
        <servlet-name>V7 Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>